.container
{
  display: flex;
  padding: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
  font-family: 'Permanent Marker', cursive;
  background-color: rgb(225, 212, 245);
  color: rgb(127, 127, 228);
  border: 5px solid violet;
  border-radius: 50px;
}

body
{
  background-color: rgb(214, 199, 228);
}

.input
{
  padding: 15px;
  width: 80%;
  margin: auto;
  border: 1px solid rgb(110, 108, 104);
  border-radius: 8px;
  font-size: 16px;
}
 
.input:focus{
  outline: none;
}

.weather_data
{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

.city
{
  font-size: 30px;
  font-weight: 100;
}

.temp
{
  font-size: 40px;
  padding: 10px;
  border: 1px solid rgb(131, 64, 185);
  border-radius: 30px;
  background-color: rgb(219, 181, 255);
}

.weather{
   
  font-size: 30px;
  font-weight: 200;
}